[access]
	inheritFrom = All-Projects
[project]
	description = opflex
[receive]
	requireChangeId = true
	createNewChangeForAllNotInTarget = true
[access "refs/*"]
	owner = group ldap/gerrit-opflex-committers
	read = group Anonymous Users
	read = group GitHub Replication
	read = group Registered Users
	forgeAuthor = group ldap/gerrit-opflex-committers
[access "refs/for/refs/*"]
	push = group Registered Users
[access "refs/heads/*"]
	create = group Non-Interactive opflex users
	label-Code-Review = -2..+2 group ldap/gerrit-opflex-committers
	label-Code-Review = -1..+1 group Non-Interactive opflex users
	label-Code-Review = -1..+1 group Registered Users
	label-Verified = -1..+1 group Non-Interactive opflex users
	label-Verified = -1..+1 group ldap/gerrit-opflex-committers
	submit = group ldap/gerrit-opflex-committers
	forgeAuthor = group Non-Interactive opflex users
	forgeCommitter = group Non-Interactive opflex users
	push = group Non-Interactive opflex users
	pushMerge = group Non-Interactive opflex users
[access "refs/tags/*"]
	create = group ldap/gerrit-opflex-committers
	push = group Non-Interactive opflex users
	push = group ldap/gerrit-opflex-committers
	pushTag = group Non-Interactive opflex users
	pushTag = group ldap/gerrit-opflex-committers
[submit]
	action = rebase if necessary
