Source: agent-ovs
Priority: optional
Section: net
Maintainer: OpFlex Developers <opflex-dev@lists.opendaylight.org>
Build-Depends:
 debhelper (>= 8.0.0), autotools-dev, libboost-all-dev (>= 1.53),
 libopflex-dev, libmodelgbp-dev, noiro-openvswitch-dev (>= 2.6.0),
 rapidjson-dev (>=1.0), pkgconf, dh-systemd, libssl-dev (>= 1.0),
 libnl-nf-3-dev (>= 3.2.27)
Standards-Version: 3.9.4
Homepage: https://wiki.opendaylight.org/view/OpFlex:Main

Package: agent-ovs
Architecture: any
Depends:
 libopflex (= ${binary:Version}), libmodelgbp (= ${binary:Version}),
 ${shlibs:Depends}, ${misc:Depends}
Description: Agent for integrating group-based policy with Open vSwitch
 The Opflex agent runs alongside the management plane of a network
 packet forwarding entity such as Open vSwitch and enforces group-based
 policy semantics on the network traffic.

Package: agent-ovs-dbg
Architecture: any
Section: debug
Priority: extra
Depends:
 agent-ovs (= ${binary:Version}),
 ${misc:Depends}
Description: Debug symbols for agent-ovs package
 The Opflex agent runs alongside the management plane of a network
 packet forwarding entity such as Open vSwitch and enforces group-based
 policy semantics on the network traffic.
 .
 This package contains the debugging symbols for agent-ovs.
