build*
Makefile
Makefile.in
core
.deps
.libs
*.o
*.lo
*.la
*_test
install-sh
libtool
ltmain.sh
missing
cscope*
config.guess
autom4te.cache
aclocal.m4
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
*~
errors.err
:q
q
:qa
qa
:wqa
wqa
stamp-h1
libopflex.pc
compile
test-driver
*.log
*.trs
m4/libtool.m4
m4/lt*.m4
.cproject
.project
.settings
.tags
.tags_sorted_by_file
GPATH
GRTAGS
GTAGS
ID
TAGS
.dirstamp
doc/Doxyfile
doc/html
doc/latex
doc/doxygen_*.db
agent_ovs
agent_test
mock_server
*.rpm
*.spec
*.tar.gz
opflex-agent-ovs.conf
debian/
gbp_inspect
mcast_daemon
