Source: libopflex
Priority: optional
Maintainer: OpFlex Developers <opflex-dev@lists.opendaylight.org>
Build-Depends:
 debhelper (>= 8.0.0), autotools-dev, libuv1-dev,
 libboost-dev, libboost-system-dev, libboost-test-dev, doxygen, pkgconf, rapidjson-dev (>= 1.1),
 libssl-dev (>= 1.0.1)
Standards-Version: 3.9.8
Section: libs
Homepage: https://wiki.opendaylight.org/view/OpFlex:Main

Package: libopflex-dev
Section: libdevel
Architecture: any
Depends: libopflex (= ${binary:Version}), libuv1-dev
Description: Development libraries for libopflex
 Development libraries for libopflex

Package: libopflex
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: libuv1 (>= 1.8.0), ${shlibs:Depends}, ${misc:Depends}
Description: A framework for developing opflex-based policy agents
 The OpFlex project seeks to provide reference implementations of the
 OpFlex protocol, which is a protocol for implementing a distributed
 control system based on a declarative policy model.

Package: libopflex-dbg
Section: debug
Architecture: any
Priority: extra
Depends: libopflex (= ${binary:Version}), ${misc:Depends}
Description: Debug symbols for libopflex package
 The OpFlex project seeks to provide reference implementations of the
 OpFlex protocol, which is a protocol for implementing a distributed
 control system based on a declarative policy model.
 .
 This package contains the debugging symbols for libopflex.
