[Unit]
Description=OpFlex group-based policy agent
Wants=mcast-daemon.service

[Service]
ExecStart=/usr/bin/opflex_agent --syslog \
   -c /etc/opflex-agent-ovs/opflex-agent-ovs.conf \
   -c /etc/opflex-agent-ovs/plugins.conf.d \
   -c /etc/opflex-agent-ovs/conf.d
Restart=always

[Install]
WantedBy=multi-user.target
Alias=agent-ovs
